<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>かな・Kana Intro</title>
        <link rel="stylesheet" href="../../static/style.css">
        <link rel="shortcut icon" href="../../static/images/yoru-alpha.png" />
        <script src="../../static/scripts.js" type="text/javascript" charset="utf-8" async defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header" id="header">
            <div class="banner-container">
                <input type="image" src="../../static/images/yoru-alpha.png" class="night-theme" alt="夜・よる・yoru kanji" />
                <ul class="nav">
                    <li><a href="../../index.html">Home</a></li>
                    <li><a href="../../templates/kana/kana-chart.html">Kana</a></li>
                    <li><a href="#lessons">Lessons</a></li>
                    <li><a href="../api-test.html">About</a></li>
                </ul>
            </div>
            <div class="progress-container">
                <div class="progress-bar" id="my-Bar"></div>
            </div>
        </div>
        <div class="content-container">
            <h1 class="center white">Japanese Writing System</h1>
            <p>Japnese is written with <b>three</b> different writing systems:</p>
            <p><b>Hiragana</b> <b style="color: #f15f48">Katakana</b> <b style="color: #fff;">Kanji</b> </p>
            <hr>
            <p>Hiragana and Katakana are collectively called <b>kana</b>. We will address <b>kanji</b> at a later time.</p>
            <div class="">
                <ruby class='white f40'>か<rt>ka</rt>な<rt>na</rt></ruby><br>
                <p class='kanji_term no-display'>仮名</p>
                <audio class="kanji_audio" src="" preload controls></audio>
            </div>
            <p>There are <b>46</b> Hiragana symbols and <b>46</b> Katakana symbols.</p>
            <p> Hiragana and Katakana can be comparable to the difference between English capital and lowercase letters. Capital letters and lowercase letters are fundamentally the same sound but serve different functions in written language.</p>
            <p>Capital letters and lowercase letters are two sides of the same coin. Similarly, Hiragana and Katakana are two sides of the same coin.</p>
            <p>For example:</p>
            <p class="indent-line">English: A = a ・ I = i ・ E = e</p>
            <p class="indent-line">Japanese: <ruby class='white-text f40'>あ<rt>a</rt>=ア <rt>　a</rt>・い <rt>　i</rt>=イ<rt>　i</rt>・え<rt>　e</rt>=エ<rt>　e</rt></ruby></p><hr>
            <p>"What is the difference between the two kana systems?"</p>
            <p><b>Native Japanese words</b> are written in <b>Hiragana</b>
            	<br><b style="color: #f15f48">Foreign/Loan words</b> are written in <b style="color: #f15f48">Katakana</b></p>
            <p>Example:</p>
            <p><b>Hiragana</b></p>
            <p class="kanji_term line-height075">どうも</p>
            <p class="line-height0">'Thank you; Thanks'</p>
            <audio class="kanji_audio" src="" controls preload></audio><br>
            <p><b style="color: #f15f48">Katakana</b></p>
            <p class="kanji_term line-height075">オレンジジュース</p>
            <p class="line-height0">'Orange juice'</p>
            <audio class="kanji_audio" src="" controls preload></audio><hr>
            <p><ruby class='white-text f40'>ひらがな<rt>hi ra ga na</rt></ruby> and <ruby class='white-text f40'>カタカナ<rt>ka ta ka na</rt></ruby></p>
            <p>Hiragana is rounder than Katakana. Katakana uses more straight lines with some curved lines. Hiragana is more 'cursive' like and Katakana is much more 'rigid' in comparison. <br><br>Some kana look almost identical in hiragana and katakana form! Similar to how some letters in English look almost identical in their capital and lowercase form!</p>
            <hr>
            <p><b style="color: #f15f48">Katakana</b> is also used for <b>sound effects</b> and <b>onomatopoeias</b>. Native words that are usually written in Hiragana can be written in Katakana to emphasize the word, or for stylistic reasons. <br><br>IT'S LIKE IF I WROTE IN ALL CAPS. WRITING IN KATAKANA CAN MAKE THINGS VISUALLY POP OUT!<br><br>
            <p><ruby class='white-text f40'>ドドドドド<rt>do do do do do</rt></ruby> = In JoJo's Bizarre Adventure, it indicates something bizarre is about to happen</p>
            <img src="../../static/images/approach.jpg" alt=""><br>
            <p><ruby class='white-text f40'>ゴゴゴ<rt>go go go</rt></ruby> = Also in Jojo's, indicates something 'menacing'</p>
            <img src="../../static/images/gogogo.webp" alt="">
            <hr>
            <p>Let's learn how to write <b>Hiragana</b> first!</p>
            <p class='line-height0'><ruby class='f40'>始める<rt>haji me ru</rt></ruby></p>
            <p class='kanji_term no-display'>始める</p>
            <audio class="kanji_audio" src="" preload controls></audio><br>
        	<a class="blue f40" style="margin-top: 0.4em;" href="../../templates/kana/kana-2.html"><b>Begin!</b></a><br><br>
        <div class="footer" style="font-size: 15px">
            <p class="indent-line">This website makes API calls to my <b class="outline">AWS Apache2</b> server. The Apaceh2 server handles the API calls to the <b class="outline">Jisho API</b>. The audio files are generated by the <b class="outline">Languagepod101 API</b> and <b class="outline">TTSMP3 website</b></p><br>
            <div>
                <ul class="footer-links">
                    <li><a href="https://api.gus-diaz.com/jisho/" target="_blank">AWS API Apache2 Server</a></li>
                    <li><a href="https://jisho.org/api/v1/search/words?keyword=" target="_blank">Jisho API</a></li>
                    <li><a href="https://www.languagepod101.com/" target="_blank">Language Pod 101</a></li>
                    <li><a href="https://ttsmp3.com/text-to-speech/Japanese/" target="_blank">TTSMP3</a></li>
                </ul>
            </div>
        </div><br>
        </div>
    </body>
</html>