body {
  background-color: #555555;
  margin: 0;
  font-size: 25px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Roboto Mono", monospace;
}

.header {
  background-color: #4a82a7;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.banner-container {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.night-theme {
    width:50px;
    height:50px;
    padding: 2px;
    outline: 3px solid #000;
}

.nav {
  text-align: center;
  background-color: #4a82a7; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-top: 0px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}

.nav a {
  color: white;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #000;
}

.progress-bar {
  height: 8px;
  background: #ffad49;
  width: 0%;
}


/*========================================*/

.content-container {
  background: #555555;
  margin: 151px auto 0 auto;
  width: 80%;
}

.content-container h3 {
  color: white;
}

.content-container p {
  color: white;
}

.content-container b {
  color: #3CAEA3;
}

.kanji_block {}

.kanji_term {
  margin-bottom: 0em;
  color: white;
}

.kanji_info p {
  display: inline-block;
  outline: 1px solid #808080;
  color: white;
  font-size: 20px;
  padding: 3px;
}

/*========================================*/

.footer {
  background: #f37460;
  width: 100%;
  bottom: 0;
  box-shadow: 0 50vh 0 50vh #f37460;
  padding: 1px 0;
}


.white-text {
    color: white;
}


.f20 {
  font-size: 20px;
}

.f30 {
  font-size: 30px;
}

.f40 {
  font-size: 40px;
}

.indent-line {
  text-indent: 30px;
}

.jisho-link {
  color: #3CAEA3;
}

@media only screen and (max-width: 600px){
  .indent-line {
    text-indent: 0px;
  }
}

@media only screen and (max-width: 600px){
  .content-container {
    background: #555555;
    margin: 151px auto 0 auto;
    width: 90%;
  }
}