/*========================================*/
body {
  background-color: #555555;
  margin: 0;
  font-size: 25px;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Roboto Mono", monospace;
}

/*========================================*/
/* Header CSS*/

.header {
  background-color: #4a82a7;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.banner-container {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.night-theme {
    width:50px;
    height:50px;
    padding: 2px;
    outline: 3px solid #000;
}

.nav {
  text-align: center;
  background-color: #4a82a7; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-top: 0px;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}

.nav a {
  color: white;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #000;
}

.progress-bar {
  height: 8px;
  background: #ffad49;
  width: 0%;
}


/*========================================*/
/* Main Content CSS*/

.content-container {
  background: #555555;
  margin: 151px auto 0 auto;
  width: 80%;
}

.content-container h3 {
  color: white;
}

.content-container p {
  color: white;
}

.content-container b {
  /*color: #3CAEA3;*/
  color: #4dbfb4;
  text-shadow: 2px 2px 8px #000;
}

.kanji_block{}

.kanji_term{}

.kanji_info p {
  display: inline-block;
  outline: 1px solid #808080;
  color: white;
  font-size: 20px;
  padding: 3px;
}

/*========================================*/
/* Footer CSS*/

.footer {
  background: #f37460;
  width: 100%;
  bottom: 0;
  box-shadow: 0 50vh 0 50vh #f37460;
  padding: 1px 0;
  color: white;
}

.footer b {
  color: #60e0f3;
}

.footer-links {
  text-align: center;
  background-color: #f37460; 
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-top: 0px;
}

.footer-links li {
  display: inline-block;
  font-size: 20px;
  padding: 5px;
}

.footer-links a {
  color: white;
}


/*========================================*/
/* Generic CSS*/

.white-text {
  color: white;
}

.orange-text {
  color: orange;
}

.f20 {
  font-size: 20px;
}

.f25 {
  font-size: 25px;
}

.f30 {
  font-size: 30px;
}

.f35 {
  font-size: 35px;
}

.f40 {
  font-size: 40px;
}

.indent-line {
  text-indent: 30px;
}

.jisho-link {
  color: #3CAEA3;
}

.center{
  text-align: center;
}

.margin-bot0{
  margin-bottom: 0em;
}

.outline {
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    text-shadow: 2px 2px 8px #000;
}

.no-display{
  display: none;
}

.line-height0 {
  line-height: 0;
}



/*========================================*/
/* Mobile Device CSS*/

@media only screen and (max-width: 600px){
  .indent-line {
    text-indent: 0px;
  }
}

@media only screen and (max-width: 600px){
  .content-container {
    background: #555555;
    margin: 151px auto 0 auto;
    width: 95%;
  }
}


@media only screen and (max-width: 600px){
  .line-height0 {
    line-height: 1;
  }
}